# Utilizando o %sql Magic do Jupyter Notebook com o banco de dados IBM Db2

## 1 - Configuração e Integração do IBM Db2 e IPython SQL

### 1.1 Instalação de pacotes necessários

In [1]:
# A instalação de dependências é feita por meio do '!pip install --user <nome do pacote>'

!pip install --user ipython-sql

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/df/427e7cf05ffc67e78672ad57dce2436c1e825129033effe6fcaf804d0c60/ipython_sql-0.3.9-py2.py3-none-any.whl
Collecting prettytable (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement not upgraded as not directly required: ipython>=1.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/65/85/20bdd72f4537cf2c4d5d005368d502b2f464ede22982e724a82c86268eda/sqlparse-0.2.4-py2.py3-none-any.whl
Requirement not upgraded as not directly required: ipython-genutils>=0.1.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Requirement not upgraded as not directly required: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Requirement not upgraded as not directly required: sqlalchemy>=0.6.7 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython-sql)
Requirement not upgraded as not directly required: setuptools>=18.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: jedi>=0.10 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: decorator in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: pickleshare in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: simplegeneric>0.8 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: traitlets>=4.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: prompt_toolkit<2.0.0,>=1.0.4 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: pygments in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: pexpect in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement not upgraded as not directly required: wcwidth in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql)
Building wheels for collected packages: prettytable
  Running setup.py bdist_wheel for prettytable ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.3.9 prettytable-0.7.2 sqlparse-0.2.4

### 1.2 Carregamento do IPhython SQL

In [3]:
# O carregamento é realizado por meio do "Jupyter Magic" '%load_ext'

%load_ext sql

### 1.3 Conexão com o banco de dados IBM Db2

In [4]:
# Complete o comando abaixo conforme suas credenciais de serviço do IBM Db2 instanciado
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name

%sql ibm_db_sa://tzf53284:x0m3zg20dtd^jx6d@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

'Connected: tzf53284@BLUDB'

## 2 - Exemplos de Queries

### 2.1 Capturar lista de todas as tabelas armazenadas em um schema no IBM Db2

In [5]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='TZF53284'

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('TZF53284', 'CHICAGO_CRIME_DATA', datetime.datetime(2018, 8, 1, 21, 48, 12, 803031)),
 ('TZF53284', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2018, 8, 1, 21, 49, 6, 513296)),
 ('TZF53284', 'CENSUS_DATA', datetime.datetime(2018, 8, 1, 21, 49, 53, 87152))]

### 2.2 Capturar informações sobre uma tabela específica no IBM Db2

In [6]:
%sql select * from SYSCAT.TABLES where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('TZF53284', 'CHICAGO_CRIME_DATA', 'TZF53284', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2018, 8, 1, 21, 48, 12, 803031), datetime.datetime(2018, 8, 1, 21, 48, 12, 803031), datetime.datetime(2018, 8, 1, 21, 48, 12, 803031), datetime.datetime(2018, 8, 3, 0, 10, 23, 305692), 22, 4, 11, 533, 5, 0, 6, -1, -1, -1, 0, 'tzf53284space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 291, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2018, 8, 1, 21, 48, 12, 803031), 0, ' ', None, None, 'N', 'TZF53284', ' ', ' ', ' ', datetime.date(2018, 8, 4), ' ', 'N', 'R', 'N', -1.0, None)]

### 2.3 Capturar metadados das colunas de uma tabela específica no IBM Db2

In [7]:
# Query the database system catalog to retrieve column metadata
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('ID', 'INTEGER', 4),
 ('Case_Number', 'VARCHAR', 8),
 ('Date', 'VARCHAR', 22),
 ('Block', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('Primary_Type', 'VARCHAR', 33),
 ('Description', 'VARCHAR', 46),
 ('Location_Description', 'VARCHAR', 33),
 ('Arrest', 'VARCHAR', 5),
 ('Domestic', 'VARCHAR', 5),
 ('Beat', 'SMALLINT', 2),
 ('District', 'DECIMAL', 4),
 ('Ward', 'DECIMAL', 4),
 ('Community_Area', 'DECIMAL', 4),
 ('FBI_Code', 'VARCHAR', 3),
 ('X_Coordinate', 'DECIMAL', 9),
 ('Y_Coordinate', 'DECIMAL', 9),
 ('Year', 'SMALLINT', 2),
 ('Updated_On', 'VARCHAR', 22),
 ('Latitude', 'DECFLOAT', 16),
 ('Longitude', 'DECIMAL', 30),
 ('Location', 'VARCHAR', 29)]

### Capturando o número total de linhas para diferentes tabelas no IBM Db2

In [8]:
%sql SELECT 'CHICAGO_CRIME_DATA' as TABLE_NAME, COUNT(*) as "Number_of_Records" FROM CHICAGO_CRIME_DATA \
UNION SELECT 'CENSUS_DATA' as TABLE_NAME, COUNT(*) as "Number_of_Records" FROM CENSUS_DATA \
UNION SELECT 'CHICAGO_PUBLIC_SCHOOLS' as TABLE_NAME, COUNT(*) as "Number_of_Records" FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('CENSUS_DATA', Decimal('78')),
 ('CHICAGO_CRIME_DATA', Decimal('533')),
 ('CHICAGO_PUBLIC_SCHOOLS', Decimal('566'))]

### Capturando a média de college enrollments por community area 
##### Tabela: CHICAGO_PUBLIC_SCHOOLS

In [9]:
%sql select "Community_Area_Name", AVG("College_Enrollment__number_of_students_") AS "Average_College_Enrollment" FROM CHICAGO_PUBLIC_SCHOOLS \
GROUP BY "Community_Area_Name";

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('858.000000')),
 ('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('ARMOUR SQUARE', Decimal('486.000000')),
 ('ASHBURN', Decimal('810.375000')),
 ('AUBURN GRESHAM', Decimal('417.500000')),
 ('AUSTIN', Decimal('475.347826')),
 ('AVALON PARK', Decimal('507.333333')),
 ('AVONDALE', Decimal('910.000000')),
 ('BELMONT CRAGIN', Decimal('1198.833333')),
 ('BEVERLY', Decimal('409.000000')),
 ('BRIDGEPORT', Decimal('633.400000')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BURNSIDE', Decimal('549.000000')),
 ('CALUMET HEIGHTS', Decimal('261.333333')),
 ('CHATHAM', Decimal('560.222222')),
 ('CHICAGO LAWN', Decimal('1012.285714')),
 ('CLEARING', Decimal('521.250000')),
 ('DOUGLAS', Decimal('424.545454')),
 ('DUNNING', Decimal('761.333333')),
 ('EAST GARFIELD PARK', Decimal('410.538461')),
 ('EAST SIDE', Decimal('1061.000000')),
 ('EDGEWATER', Decimal('766.666666')),
 ('EDISON PARK', Decimal('455.000000')),
 ('ENGLEWOOD', Decimal('401.882352')),
 ('FOREST GLEN', Decimal('477.000000')),
 ('FULLER PARK', Decimal('265.500000')),
 ('GAGE PARK', Decimal('991.500000')),
 ('GARFIELD RIDGE', Decimal('910.400000')),
 ('GRAND BOULEVARD', Decimal('351.125000')),
 ('GREATER GRAND CROSSING', Decimal('405.100000')),
 ('HEGEWISCH', Decimal('481.500000')),
 ('HERMOSA', Decimal('993.750000')),
 ('HUMBOLDT PARK', Decimal('663.076923')),
 ('HYDE PARK', Decimal('482.500000')),
 ('IRVING PARK', Decimal('862.666666')),
 ('JEFFERSON PARK', Decimal('877.500000')),
 ('KENWOOD', Decimal('612.428571')),
 ('LAKE VIEW', Decimal('641.363636')),
 ('LINCOLN PARK', Decimal('802.142857')),
 ('LINCOLN SQUARE', Decimal('826.400000')),
 ('LOGAN SQUARE', Decimal('668.272727')),
 ('LOOP', Decimal('871.000000')),
 ('LOWER WEST SIDE', Decimal('659.727272')),
 ('MCKINLEY PARK', Decimal('388.000000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('MORGAN PARK', Decimal('654.200000')),
 ('MOUNT GREENWOOD', Decimal('522.750000')),
 ('NEAR NORTH SIDE', Decimal('480.285714')),
 ('NEAR SOUTH SIDE', Decimal('459.333333')),
 ('NEAR WEST SIDE', Decimal('498.437500')),
 ('NEW CITY', Decimal('609.384615')),
 ('NORTH CENTER', Decimal('1077.285714')),
 ('NORTH LAWNDALE', Decimal('321.625000')),
 ('NORTH PARK', Decimal('842.000000')),
 ('NORWOOD PARK', Decimal('808.625000')),
 ('OAKLAND', Decimal('140.000000')),
 ('OHARE', Decimal('786.000000')),
 ('PORTAGE PARK', Decimal('993.428571')),
 ('PULLMAN', Decimal('324.000000')),
 ('RIVERDALE', Decimal('386.750000')),
 ('ROGERS PARK', Decimal('678.000000')),
 ('ROSELAND', Decimal('540.000000')),
 ('SOUTH CHICAGO', Decimal('577.571428')),
 ('SOUTH DEERING', Decimal('464.750000')),
 ('SOUTH LAWNDALE', Decimal('672.409090')),
 ('SOUTH SHORE', Decimal('504.777777')),
 ('UPTOWN', Decimal('626.857142')),
 ('WASHINGTON HEIGHTS', Decimal('445.111111')),
 ('WASHINGTON PARK', Decimal('529.600000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('WEST ENGLEWOOD', Decimal('457.384615')),
 ('WEST GARFIELD PARK', Decimal('327.750000')),
 ('WEST LAWN', Decimal('1051.750000')),
 ('WEST PULLMAN', Decimal('324.000000')),
 ('WEST RIDGE', Decimal('910.777777')),
 ('WEST TOWN', Decimal('471.450000')),
 ('WOODLAWN', Decimal('525.750000'))]

### Capturando a o número de escolas certificadas como "healthy"
##### Tabela: CHICAGO_PUBLIC_SCHOOLS

In [10]:
%sql SELECT COUNT(*) as "Number of Healthy-Certified Schools" FROM CHICAGO_PUBLIC_SCHOOLS WHERE "Healthy_Schools_Certified_" = True

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

### Capturando uma lista com as top 10 comunidades com o maior número de escolas em ordem decrescente
##### Tabela: CHICAGO_PUBLIC_SCHOOLS

In [11]:
### Problem 4
%sql select "Community_Area_Name", count("Community_Area_Name") as "Number_of_Schools" from CHICAGO_PUBLIC_SCHOOLS \
group by "Community_Area_Name" order by count(*) desc nulls last limit 10

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('AUSTIN', Decimal('23')),
 ('SOUTH LAWNDALE', Decimal('22')),
 ('WEST TOWN', Decimal('20')),
 ('ENGLEWOOD', Decimal('17')),
 ('NEAR WEST SIDE', Decimal('16')),
 ('NORTH LAWNDALE', Decimal('16')),
 ('EAST GARFIELD PARK', Decimal('13')),
 ('HUMBOLDT PARK', Decimal('13')),
 ('NEW CITY', Decimal('13')),
 ('ROSELAND', Decimal('13'))]

### Recuperando a quantidade de crimes que ocorreram em uma "Gas Station"
##### Tabela: CHICAGO_CRIME_DATA

In [12]:
%sql SELECT COUNT(*) as "Number of Observations with Gas Station as Location_Description" FROM CHICAGO_CRIME_DATA WHERE "Location_Description"='GAS STATION'

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

### Recuperando o número de crimes relacionados a veículos
##### Tabela: CHICAGO_CRIME_DATA

In [13]:
%sql SELECT COUNT(*) as "Number of Crimes related to Motor Vehicles" FROM CHICAGO_CRIME_DATA WHERE "Primary_Type"='MOTOR VEHICLE THEFT'

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

### Capturando a média de presença de alunos por comunidade de acordo com o "Hardship Index"
##### Tabelas: CHICAGO_PUBLIC_SCHOOLS & CENSUS_DATA

In [45]:
%sql SELECT CHICAGO_PUBLIC_SCHOOLS."Community_Area_Name", MIN(CHICAGO_PUBLIC_SCHOOLS."Average_Student_Attendance") as "Min_Avg_Student_Attendance", CENSUS_DATA."HARDSHIP_INDEX" as "Hardship_Index" \
FROM "CHICAGO_PUBLIC_SCHOOLS" \
INNER JOIN "CENSUS_DATA" \
ON CHICAGO_PUBLIC_SCHOOLS."Community_Area_Number"=CENSUS_DATA."Community_Area_Number" \
WHERE CENSUS_DATA."HARDSHIP_INDEX" = 96 \
GROUP BY CHICAGO_PUBLIC_SCHOOLS."Community_Area_Name", CENSUS_DATA."HARDSHIP_INDEX"

 * ibm_db_sa://tzf53284:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('SOUTH LAWNDALE', '86.1%', 96)]